<mat-sidenav-container class="example-container">
  <mat-sidenav
    #sidenav
    mode="side"
    opened
    class="example-sidenav"
    [fixedInViewport]="options.value.fixed"
    [fixedTopGap]="options.value.top"
    [fixedBottomGap]="options.value.bottom">
    <app-sidebar></app-sidebar>
  </mat-sidenav>
  <mat-sidenav-content [formGroup]="options">
    <app-header (toggleSidebar)="sidenav.toggle()"></app-header>
    <main class="layout-main-content">
      <router-outlet></router-outlet>
    </main>
  </mat-sidenav-content>
</mat-sidenav-container>
