
@use '../../../../styles';

.left-img {
  height: 100vh;
  background-size: cover;
  background-position: center;
}

.form-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  margin: 20px;
}

.auth-wrapper {
  width: 410px;
  max-width: 100%;
  margin-top: auto;
  margin-bottom: auto;
}

.auth-signup-text {
  font-size: 14px;
  color: #000;
  padding-bottom: 5px;
  width: 410px;
  max-width: 100%;
}

.text-muted {
  color: #96a2b4 !important;
  margin-bottom: 10px;
}

.login-title {
  margin-bottom: 20px;
}

.mat-mdc-unelevated-button .mat-mdc-button-touch-target {
  position: absolute;
  top: 50%;
  height: var(--mat-button-filled-touch-target-size, 48px);
  display: var(--mat-button-filled-touch-target-display, block);
  left: 0;
  right: 0;
  transform: translateY(-50%);
}

.list-inline-item:not(:last-child) {
  margin-right: 0.5rem;
}

.list-inline-item {
  display: inline-block;
}

a {
  color: styles.$primary-color;
  text-decoration: underline;
}

.social-icon li a:hover {
  background-color: styles.$primary-color-hover;
  border-color: styles.$primary-color !important;
  color: #fff !important;
}

.auth-signup-text {
  font-size: 14px;
  color: #000;
  padding-bottom: 5px;
  width: 410px;
  max-width: 100%;
}

.text-muted {
  color: #96a2b4 !important;
  margin-bottom: 10px;
}

.auth-form-btn {
  width: 100%;
  padding: 25px;
  background: styles.$primary-color !important;
  color: #fff !important;
}

.auth-form-btn:hover {
  background-color: styles.$primary-color-hover;
}

.social-login-title {
    font-size: 15px;
    color: #919aa3;
    display: flex;
    margin: 20px 0;
}

.social-login-title:before {
    background-position: center left;
}

.social-login-title:after {
    background-position: center right;
}

.social-login-title:before, .social-login-title:after {
    content: "";
    background-image: linear-gradient(#bbb8b8, #f3f3f3);
    flex-grow: 1;
    background-size: calc(100% - 20px) 1px;
    background-repeat: no-repeat;
}

.social-icon {
    text-align: center;
}

.form-check .form-check-label {
    cursor: pointer;
    padding-left: 25px;
    position: relative;
    padding-right: 15px;
}

label, .form-check {
    font-size: 13px;
    line-height: 1.42857;
    color: #414244;
    font-weight: 400;
}
label {
    display: inline-block;
}

.form-check .form-check-input {
    opacity: 0;
    height: 0;
    width: 0;
    overflow: hidden;
    position: absolute;
    margin: 0;
    z-index: -1;
    left: 0;
    pointer-events: none;
}

.form-check-input[type=checkbox] {
    border-radius: .25em;
}
.form-check .form-check-input {
    float: left;
    margin-left: -1.5em;
}
.form-check-input {
    --bs-form-check-bg: var(--bs-body-bg);
    flex-shrink: 0;
    width: 1em;
    height: 1em;
    margin-top: .25em;
    vertical-align: top;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-color: var(--bs-form-check-bg);
    background-image: var(--bs-form-check-bg-image);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    border: var(--bs-border-width) solid var(--bs-border-color);
    -webkit-print-color-adjust: exact;
}

.form-check .form-check-sign .check {
    position: relative;
    display: inline-block;
    width: 20px;
    height: 20px;
    border: 1px solid rgba(0, 0, 0, .54);
    overflow: hidden;
    z-index: 1;
    border-radius: 3px;
}
.form-check .form-check-label span {
    display: block;
    position: absolute;
    left: -1px;
    top: -1px;
    transition-duration: .2s;
    padding-left: 0;
}

.mat-mdc-form-field{
    width: 100%;
}
