<section class="content">
    <div class="content-block">
        <div class="block-header">
            <app-breadcrumb [title]="'Booking Calendar'" [items]="['Home', 'Booking']" [active_item]="'Calendar'">
            </app-breadcrumb>
        </div>
        <div class="row clearfix">
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
                <div class="card">
                    <div class="header">
                        <h2>Booking Calendar</h2>
                    </div>
                    <div class="body">
                        <div class="calendar-container">
                            <div class="calendar-header">
                                <button mat-icon-button (click)="prevMonth()">
                                    <mat-icon>chevron_left</mat-icon>
                                </button>
                                <h3>{{ displayMonth | date:'MMMM yyyy' }}</h3>
                                <button mat-icon-button (click)="nextMonth()">
                                    <mat-icon>chevron_right</mat-icon>
                                </button>
                            </div>
                            <div class="calendar-grid">
                                <div class="calendar-day-head" *ngFor="let day of weekDays">
                                    {{ day }}
                                </div>
                                <div class="calendar-day" *ngFor="let date of daysInMonth" 
                                    [class.not-current]="!isCurrentMonth(date)"
                                    [class.today]="isToday(date)">
                                    <span class="day-number">{{ date | date:'d' }}</span>
                                    <div class="day-events">
                                        <div class="event-pill" *ngFor="let event of getBookingsForDate(date)" [ngClass]="event.class">
                                            {{ event.title }}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>