@use '../../../../styles';

.left-img {
  height: 100vh;
  background-size: cover;
  background-position: center;
}

.form-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  margin: 20px;
}

.auth-wrapper {
  width: 410px;
  max-width: 100%;
  margin-top: auto;
  margin-bottom: auto;
}

.auth-signup-text {
  font-size: 14px;
  color: #000;
  padding-bottom: 5px;
  width: 410px;
  max-width: 100%;
}

.text-muted {
  color: #96a2b4 !important;
  margin-bottom: 10px;
}

.login-title {
  margin-bottom: 20px;
}

.mat-mdc-unelevated-button .mat-mdc-button-touch-target {
  position: absolute;
  top: 50%;
  height: var(--mat-button-filled-touch-target-size, 48px);
  display: var(--mat-button-filled-touch-target-display, block);
  left: 0;
  right: 0;
  transform: translateY(-50%);
}

a {
  color: styles.$primary-color;
  text-decoration: underline;
}

.auth-form-btn {
  width: 100%;
  padding: 25px;
  background: styles.$primary-color !important;
  color: #fff !important;
}

.auth-form-btn:hover {
  background-color: styles.$primary-color-hover;
}

.mat-mdc-form-field {
  width: 100%;
}

.alert {
  padding: 15px;
  margin-bottom: 20px;
  border: 1px solid transparent;
  border-radius: 4px;
}

.alert-danger {
  color: #721c24;
  background-color: #f8d7da;
  border-color: #f5c6cb;
}

.alert-success {
  color: #155724;
  background-color: #d4edda;
  border-color: #c3e6cb;
}
