.content {
  background-color: #f0f3fb;
}

section.content .content-block {
  padding: 25px;
}
.mat-mdc-card-title{
 font-family: Poppins, sans-serif !important;
}
.dashboard-card {
  h2{
      margin: 0;
    color: #5b626b;
    font-size: 17px;
    line-height: 28px;
    padding-right: 10px;
    font-weight: 500;
  }
  margin-bottom: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s;

  // &:hover {
  //   transform: translateY(-5px);
  // }

  .mat-mdc-card-title {
    font-size: 17px !important;
  }
  .mat-mdc-card-header {
    justify-content: space-between;
  }
  .mat-card-header {
    display: flex;
    align-items: center;
  }

  .card-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    color: #fff;
    margin-right: 20px;
    mat-card-title {
      font-size: 17px;
      font-weight: 700;
    }
    mat-icon {
      font-size: 22px;
    }
  }

  .mat-card-title {
    font-size: 18px;
    font-weight: 500;
  }

  .mat-card-subtitle {
    font-size: 24px;
    font-weight: 700;
  }

  /* Background Colors */
  .bg-purple {
    background-color: #7b1fa2;
  }

  .bg-orange {
    background-color: #f57c00;
  }

  .bg-green {
    background-color: #388e3c;
  }

  .bg-cyan {
    background-color: #0097a7;
  }
}

.mat-elevation-z8 {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  overflow: hidden;
}

.mat-table {
  width: 100%;
}

.badge {
  padding: 5px 10px;
  border-radius: 10px;
  color: #fff;
}

.col-green {
  background-color: #388e3c;
}

.col-red {
  background-color: #d32f2f;
}

// customer rating

.customer-rating {
  text-align: right;
}

.rating-star {
  display: flex;
  align-items: center;
  gap: 4px;
}

.rating-star i {
  font-size: 18px;
  color: #ffb300;
}

.rating-star span {
  margin-left: 6px;
  font-size: 13px;
  color: #6c757d;
}

.breadcrumb {
  background-color: transparent;
  font-size: 15px;
  align-items: center;
  margin: 1rem 0 3rem 1rem;
  padding: 0;
  color: #555;
}

section.content {
  transition: 0.5s;
}

.card-header h3 {
  margin: 0;
  color: #5b626b;
  font-size: 17px;
  line-height: 28px;
  padding-right: 10px;
  font-weight: 500;
}

.tableBody {
  font-size: 14px;
  color: #555;
  padding: 0 15px;
  .table-responsive {
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
  }
  .table {
    .badge {
      padding: 5px 8px;
      line-height: 12px;
      border: 1px solid;
      font-weight: 400;
      font-size: 13px;
      &.paid {
        background-color: #4caf50 !important;
        color: #fff !important;
      }
      &.unpaid {
        background-color: #f44336 !important;
        color: #fff !important;
      }
      &.pending {
        background-color: #ff9800 !important;
        color: #fff !important;
      }
    }

    .col-green {
      color: #4caf50 !important;
    }
    caption-side: bottom;
    border-collapse: collapse;
    thead tr th,
    tbody tr th {
      padding: 0 10px;
      height: 50px;
      vertical-align: middle;
      background-color: #f5f5f5;
      color: #666;
      font-weight: 500;
      border: none;
    }
    tbody {
      border-top: none !important;
    }
  }
  .table > thead {
    vertical-align: bottom;
  }
  .table > tbody {
    vertical-align: inherit;
  }

  .table .tbl-action-btn {
    color: #999;
  }

  .table .fa-edit {
    color: #6777ef;
  }

  .table .fa-trash-alt {
    color: #ff5200;
  }

  .pdf-icon {
    color: #ff0000; /* Red color for PDF icon */
    font-size: 20px;
  }

  .table .tbl-pdf {
    color: #f96332;
    font-size: 20px;
    cursor: pointer;
    padding-left: 35px;
  }
}
