.content {
 background-color: #f0f3fb;
}

section.content .content-block {
    padding: 25px 0 0 25px;
}

.dashboard-card {
  margin-bottom: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s;

  &:hover {
    transform: translateY(-5px);
  }

  .mat-mdc-card-title {
    font-size: 17px !important;
  }
  .mat-mdc-card-header{
    justify-content: space-between ;
  }
  .mat-card-header {
    display: flex;
    align-items: center;
  }

  .card-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    color: #fff;
    margin-right: 20px;
    mat-card-title {
        font-size: 17px;
        font-weight: 700;
    }
    mat-icon {
      font-size: 22px;
    }
  }

  .mat-card-title {
    font-size: 18px;
    font-weight: 500;
  }

  .mat-card-subtitle {
    font-size: 24px;
    font-weight: 700;
  }

  /* Background Colors */
  .bg-purple {
    background-color: #7b1fa2;
  }

  .bg-orange {
    background-color: #f57c00;
  }

  .bg-green {
    background-color: #388e3c;
  }

  .bg-cyan {
    background-color: #0097a7;
  }
}

.mat-elevation-z8 {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  overflow: hidden;
}

.mat-table {
  width: 100%;
}

.badge {
  padding: 5px 10px;
  border-radius: 10px;
  color: #fff;
}

.col-green {
  background-color: #388e3c;
}

.col-red {
  background-color: #d32f2f;
}

// customer rating 

.customer-rating {
  text-align: right;
}

.rating-star {
  display: flex;
  align-items: center;
  gap: 4px;
}

.rating-star i {
  font-size: 18px;
  color: #ffb300; 
}

.rating-star span {
  margin-left: 6px;
  font-size: 13px;
  color: #6c757d;
}

.breadcrumb {
    background-color: transparent;
    font-size: 15px;
    align-items: center;
    margin: 1rem 0 3rem 1rem;
    padding: 0;
    color: #555;
}

section.content {
    transition: .5s;
}